html{
  --primary-color: #FCFCFC;
  --primary-panel: #EBEBEB;
  --color-headings: #333333;
  --color-text: #495867;
}


html[data-theme='dark']{
  --primary-color: #333333;
  --primary-panel: #434343;
  --color-headings: #FCFCFC;
  --color-text: #EBEBEB;
}

#nav-container{
  flex: 0.1;
  margin-right: 2px;

  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    float: right;
    align-self: center;
  }

  label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: whitesmoke;
    border-radius: 90px;
    transition: 0.3s;
    align-self: center;

  }

  input:checked + label {
    background: #0077ff;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
}

.nav-bar {
  overflow: hidden;
  background-color: var(--primary-panel);
}

.nav-component {
  float: right;
  display: block;
  color: var(--color-headings);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.home-container{
  display: flex;
  flex: 3;

  p{
    font-family: Montserrat;
    font-size: 2vmin;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-panel);
}

.sticky-component{
  float: right;
  display: block;
  color: var(--color-headings);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin: 0%;
}

.sticky + .content {
  padding-top: 60px;
}

.main-nav-container{
  display: flex;
  align-items: center;
}

.App {
  display: flex;
  background-color: #333333;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.add-button {
  border-radius: 50%;
  width: 75px;
  height: 75px; 
  border-style: none;
  background-color: #ff1654;
  color: white;
  font-size: 2vmin;
  font-family: Montserrat;
  position:fixed;
  bottom:40px;
  right:40px;
  text-align: center;
}

.task {
  height: 300px;
  width: 500px;
  margin: 10px;
  flex: 1;
  display: flex;
  background-color: #333333;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.task:hover{
  background-color: pink;
  color: #333333;
}

.delete {
  align-self: left;
}

